body {
    font-family: 'Bowlby One SC';
    background-image: url("../images/tweed.png")
}
button {
    width:25%;
    margin:3px;
}
#buttons-div{
    text-align: center;
}
#character-1,
#character-2,
#winner {
    color: whitesmoke;
    text-align: center;
}
.jumbotron {
    text-align: center;
}
